<section class="products">
    <div class="products__inner">
        <div class="products__title">
            PRODUCTS
        </div>
        <div class="products__content">
            <div class="products__item">
                <img src="assets/images/products1.png" alt="">
                <div class="products__text"> Facial Arts</div>

            </div>
            <div class="products__item">
                <img src="assets/images/products2.png" alt="">
                <div class="products__text"> Nanofiber surgical grade fliter mask</div>

            </div>
            <div class="products__item">
                <img src="assets/images/products3.png" alt="">
                <div class="products__text"> Hospital Grade Cleaning</div>

            </div>
            <div class="products__item">
                <img src="assets/images/products4.png" alt="">
                <div class="products__text"> Antibacterial gloves</div>

            </div>
            <div class="products__item">
                <img src="assets/images/products5.png" alt="">
                <div class="products__text"> Antibacterial roll sheet</div>

            </div>
            <div class="products__item">
                <button class="products__button" >VIEW ALL</button>

            </div>
        </div>

    </div>


</section>