<section class="sellers">
    <div class="sellers__inner">
        <div class="sellers__title">
            BEST SELLERS
        </div>
      <div class="sellers__content">
        <div class="sellers__item-wrapper"> 
            <div class="sellers__item"></div>
            <div class="sellers__item-text">
                Facial Arts
            </div>

        </div>
        <div class="sellers__item-wrapper"> 
            <div class="sellers__item"></div>
            <div class="sellers__item-text">
                Facial Arts
            </div>

        </div>
        <div class="sellers__item-wrapper"> 
            <div class="sellers__item"></div>
            <div class="sellers__item-text">
                Facial Arts
            </div>

        </div>
        <div class="sellers__item-wrapper"> 
            <div class="sellers__item"></div>
            <div class="sellers__item-text">
                Facial Arts
            </div>

        </div>
        
      </div>
    </div>
</section>