footer {
        
}
.footer-wrapper {
   background-color: $clr-blue!important; 
}

.footer {
    align-items: center;
    padding: 45px 10px 35px 10px;
   
    &__inner {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 85px;
       
        // border-bottom: 1px solid #D3DAD7;
        padding-bottom: 35px;  
        @media (max-width:480px) {
            justify-content: center;
        }
    }


    &__list-item {
        margin: 5px 0;

    }
   
    &__title {
        margin: 70px 0 20px 0;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 32px;
        color: rgba(255, 255, 255, 0.5);
    }

    &__link { 
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 48px;
        
        text-decoration: none;
        transition: .3s color;
        color: rgba(255, 255, 255, 0.5);
    
        &:hover {
            color: white;
        }
    }

    &__list-item--last {
        margin-top: 42px;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        padding: 35px 0 30px;
        @media (max-width:768px) {
            flex-wrap: wrap;
            gap: 30px;
            text-align: center;
         }
        
        
    }


}
.social__item {
    margin-right: 30px;
}




.copy__img {
    margin-right: 10px;
  
}
.copy__text {
    color: #fff;
}

.social {
    // justify-content: flex-end;
    margin-left: 10px;


    &__link {
        text-decoration: none;
        margin-right: 34px;
        
    }
    &__link svg:hover {
       path {
        fill: rgb(219, 216, 18)
       }
    }
   

    
}