<!-- Add post -->
<div class="add-post">
    <form class="add-post_form" action="/" method="post">
       <textarea name="" class="add-post_textarea"  placeholder="Write something..."></textarea> 
            
        </textarea>
        <div class="add-post_form-actions">
                <label class="add-post-file" 
                 for="add-post-file">
                 <img src="./assets/images/photo_input.svg" alt="Choose file">
                    
                     <input class="add-post-file" type="file">
                </label>
                <button class="btn_submit" 
                 type="submit"><div class="btn_rectangle">
                    <img src="./assets/images/send.png" alt="">

                </div> 
                    </button>
        </div>
       
    </form>
    
</div>