<!-- Navbar -->
  <header>
    <div class="container">
          <nav class="nav">
                <div class="navbar">
                    <div class="logo"><a class="navbar_brand" href="#">#logo</a></div>
                </div>
                <ul class="navbar_nav">
                    <li class="nav_item">
                        <a class="nav_link"  href="#">Portfolio</a> 
                    </li>
                    <li class="nav_item">
                      <a class="nav_link" href="#">About</a> 
                  </li>
                  <li class="nav_item">
                    <a class="nav_link"  href="#">Contact</a> 
                </li>

                </ul>
                <div class="form">
                   <!-- <form action="">
                    <input class="form_search" type="text" placeholder="Search">
                  </form> -->
                  
                </div>
                <div class="burger">
                    <span  class="bar"></span>
                    <span  class="bar"></span>
                    <span  class="bar"></span>
                </div>
            
          </nav>

    </div>
     
</header>

    
     