<footer>
    <div class="footer-wrapper">
        <div class="container">
       
            <div class="footer">
                <div class="footer__inner">
                    <div class="footer__item">
                        <div class="footer__title">
                            <img src="assets/images/logo.png" alt="">
                        </div>
                       
                    </div>
                    <div class="footer__item">
                        <div class="footer__title">Need Help</div>
                        <div class="footer__list">
                            <ul>
                                <li class="footer__list-item"><a href= "" class = "footer__link">About</a></li>
                                <li class="footer__list-item"><a href= "" class = "footer__link">Leadersheep</a></li>
                                <li class="footer__list-item"><a href= "" class = "footer__link">Blog</a></li>
                                <li class="footer__list-item"><a href= "" class = "footer__link">Careers</a></li>  
                                <li class="footer__list-item"><a href= "" class = "footer__link">Partners</a></li>
                                <li class="footer__list-item"><a href= "" class = "footer__link">Press</a></li>
                                
                            </ul>
                        </div>
                    </div>
        
                    <div class="footer__item">
                        <div class="footer__title">Products</div>
                        <div class="footer__list">
                            <ul>
                                <li class="footer__list-item"><a href= "" class = "footer__link">Products overview</a></li>
                                <li class="footer__list-item"><a href= "" class = "footer__link">Marketplace</a></li>
                                <li class="footer__list-item"><a href= "" class = "footer__link">Pricing</a></li>
                                <li class="footer__list-item"><a href= "" class = "footer__link">Careers</a></li>  
                                
                            </ul>
                        </div>
                    </div>
        
                    <div class="footer__item">
                        <div class="footer__title">Social</div>
                        <div class="footer___list">
                          <img class="social__item" src="assets/images/facebook.png" alt="">
                          <img src="assets/images/instagram.png" alt="">
                        </div>
                    </div>
                </div> 
                </div>
               

    
        </div>
    </div>
    



</footer>
